.button {
	cursor: hand;
	cursor: pointer;
	-moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad
		), color-stop(1, #5972a7) );
	background: -moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background: -webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background: -o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background: -ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad',
		endColorstr='#5972a7', GradientType=0 );
	background-color: #637aad;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #314179;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #7a8eb9;
}